<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Justin Yang">

    <!-- Bootstrap Core CSS -->
    <link href="../asset/css/main/bootstrap.min.css" rel="stylesheet">
    <link href="../asset/css/main/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../asset/css/sidebar/simple-sidebar.css" rel="stylesheet">
    <link href="../asset/css/sidebar/custom-sidebar.css" rel="stylesheet">

</head>
<body>
    <div id="wrapper" style="position: relative;">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="sidebar-background" style="position: fixed;">
            <ul class="sidebar-nav nav-pills nav-stacked sidebar-item-panel" id="menu">
                <div id="sidebar-brand" class="sidebar-brand brand-center">
                  <a href="#" class="mian"><span class="brand-title"><span id="logo">M</span><span id="logo-remain">ianBot</span></span></a>
                </div>
                <div id="sidebar-panel" class="sidebar-item-panel sidebar-padding">
                  <li>
                      <a href="#" class="sidebar-item"><span class="social-icon"><i class="fa fa-user-o"></i></span>個人資料</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-item"><span class="social-icon"><i class="fa fa-pie-chart"></i></span>統計圖表</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-item"><span class="social-icon"><i class="fa fa-pencil-square-o"></i></span>規則集</a>
                  </li>
                  <li>
                      <a href="../../../site/templates/qa_manager.html" class="sidebar-item"><span class="social-icon"><i class="fa fa-comments"></i></span>對話集</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-item"><span class="social-icon"><i class="fa fa-book"></i></span>故事</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-item"><span class="social-icon"><i class="fa fa-commenting"></i></span>對話紀錄</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-item"><span class="social-icon"><i class="fa fa-flask"></i></span>實驗場</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-item"><span class="social-icon"><i class="fa fa-info-circle"></i></span>說明文件</a>
                  </li>
                </div>
                <!--sidebar item panel-->
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav  class="container-fluid navbar navbar-default no-margin white-navbar use-flexbox">
            <!-- Brand and toggle get grouped for better mobile display -->
              <div class="container">
                  <div class="navbar-header fixed-brand">
                      <button type="button" class="navbar-toggle navbar-right collapsed" data-toggle="collapse"  id="menu-toggle">
                        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                      </button>
                      <a class="navbar-brand brand-title" href="#">這是標題</a>
                  </div>
                  <!-- navbar-header-->

                  <div class="collapse navbar-collapse no-padding" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                          <li class="active" ><button class="btn btn-success btn-outline navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
                          <li class="active" ><button class="btn btn-success btn-outline navbar-toggle collapse in" data-toggle="collapse" id="logout"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span></button></li>
                      </ul>
                  </div>
                  <!-- right-icon-->
              </div>
            </nav>
            <div id="page-content" class="page-container">
                <div class="container-fluid xyz">
                    <div class="row">
                        <div class="col-md-2 content-container">
                            <h1>這是一個兩欄網格</h1>
                            <p>兩攔網格兩攔網格兩攔網格兩攔網格兩攔網格兩攔網格兩攔網格兩攔網格兩攔網格兩攔網格</p>
                        </div>
                        <div class="col-md-3 content-container">
                            <h1>這是一個三欄網格</h1>
                            <p>三欄網格三欄網格三欄網格三欄網格三欄網格三欄網格三欄網格三欄網格三欄網格三欄網格</p>
                        </div>
                        <div class="col-md-5 content-container">
                            <h1>這是一個五欄網格</h1>
                            <p>五欄網格五欄網格五欄網格五欄網格五欄網格五欄網格五欄網格五欄網格五欄網格五欄網格</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 content-container">
                          <h1>這是一個十欄網格</h1>
                          <p>101010101010101010101010101010101010101010101010101010101</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 content-container">
                          <h1>這是一個十一欄網格</h1>
                          <p>1111111111111111111111111111111111111111111111111111111</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 content-container">
                          <h1>這是一個十二欄網格</h1>
                          <p>1212112122112121212121212121212211212121212121212121212</p>
                        </div>
                    </div>
                </div>
                <!--fluid-content-->
            </div>
            <!--page-container-wrapper-->
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../asset/js/jquery-1.11.2.min.js"></script>
    <script src="../asset/js/bootstrap.min.js"></script>
    <script src="../asset/js/sidebar_menu.js"></script>
</body>

</html>
